.box {
    display: flex; 
    padding: 10px;
    padding-left: 35%;
    border-style: dashed;
    border-radius: 30%;
    border-color: rgb(165, 165, 165);
    font-family: cursive;
 }

 h3 {
     text-align: right;
 }
